{% extends 'base.html' %}
{% block content %}
    <h3 class="project_title">Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h3>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Email: {{ user_obj.email }}</p>
    {% if user_obj.profile.github_link %}
        <p>GitHub-ссылка: <a href="{{ user_obj.profile.github_link }}" class="task">{{ user_obj.profile.github_link }}</a> </p>
    {% endif %}
    <p class="text_me">О себе: {{ user_obj.profile.user_description| default:'' }}</p>
    <div class="button_update">
        {% if user_obj.pk == request.user.pk %}
            <a class="btn btn-primary" href="{% url 'update_profile' user_obj.pk %}" role="button">Редактировать</a>
            <a class="btn btn-danger" href="{% url 'password_change' user_obj.pk %}" role="button">Сменить пароль</a>
        {% endif %}
    </div>
    <div class="user_projects">
        {% if is_paginated %}
            {% include 'partial/tasks/pagination.html' %}
        {% endif %}
        {% include 'projects/projects.html' %}
    </div>
{% endblock %}