{% extends 'base.html' %}
{% block content %}
    <h1>Поменять личные данные</h1>
    <form style="width: 30%" action="{% url 'update_profile' request.user.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partial/profile/user_form.html' %}
        {% include 'partial/profile/profile_form.html' %}
        <input type="submit" class="btn btn-primary" value="Изменить">
    </form>
{% endblock %}