{% extends 'base.html' %} {% block content %}
    <div class="form_all">
        <h1 class="title">Новый проект</h1><br/>
        <form action="{% url 'create_project' %}" method="POST">
            {% include 'partial/projects/project_forms.html' with is_edit=False %}
        </form>
    </div>
{% endblock %}