{% extends 'base.html' %} {% block content %}
    <div class="boxes">
        <h3 class="project_title">Описание проекта</h3>
        <div class="box">
            <p class="col-3">Имя:</p>
            <p class="col-9">{{ project.name }}</p>
        </div>
        <div class="box">
            <p class="col-3">Описание:</p>
            <p class="col-9">{{ project.description }}</p>
        </div>
        <div class="box">
            <p class="col-3">Дата начало:</p>
            <p class="col-9">{{ project.start_date| date:'Y-m-d' }}</p>
        </div>
        <div class="box">
            <p class="col-3">Дата окончания:</p>
            <p class="col-9">{{ project.end_date| date:'Y-m-d' }}</p>
        </div>
        {% if perms.webapp.change_projects and user in project.users.all %}
            <a href="{% url 'project_users' project.pk %}">Участники</a>
        {% endif %}
        <div class="button_edit">
            {% if perms.webapp.add_tasks and user in project.users.all %}
                <a class="btn btn-primary" href="{% url 'task_create'  project.pk %}" role="button">Добавить задачу</a>
            {% endif %}
            {% if perms.webapp.change_projects and user in project.users.all or perms.webapp.delete_projects and user in project.users.all %}
                <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger">Удалить</button>
                <a class="btn btn-primary" href="{% url 'project_update' project.pk %}" role="button">Изменить</a>
            {% endif %}
        </div>
    </div>
    {% if perms.webapp.change_tasks and user in project.users.all %}
        <h1 class="title">Задачи проекта</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Исполнитель</th>
                <th scope="col">Заголовок</th>
                <th scope="col">Статус</th>
                <th scope="col">Дата создания</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td><a href="{% url 'profile' request.user.pk %}" class="task">{{ task.user.get_full_name }}</a></td>
                    <td><a href="{% url 'task_page' task.pk %}" class="task">{{ task.summary }}</a></td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.created_at| date:'Y-m-d'}}</td>
                </tr>
            {% empty %}
                <h3 style="text-align: center">Задач пока нет</h3>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% include 'common/delete_modal.html' with deleted_object=project %}
{% endblock %}