{% extends 'base.html' %} {% block content %}
    <div class="form_all">
        <h1 class="title">Редактирование проекта</h1><br/>
        <form action="{% url 'project_update' object.pk %}" method="POST">
            {% include 'partial/projects/project_forms.html' with is_edit=True %}
        </form>
    </div>
{% endblock %}