<h3>Проекты</h3>
{% for project in projects %}
    <div class="card categories">
        <div class="card-body categories-body">
            <p class="name-category">{{ project.name }}</p>
            <div class="button">
                <a class="btn btn-primary" href="{% url 'project_detail' project.pk %}" role="button">Подробнее</a>
            </div>
        </div>
    </div>
{% endfor %}