{% extends 'base.html' %} {% block content %}
    <h3 class="title_project">Участники проекта - {{ project.name }}</h3>
    {% for user in project.users.all %}
        <div class="card categories">
            <div class="card-body categories-body">
                <p class="name-category"><a href="{% url 'profile' user.pk %}" class="task">{{ user.get_full_name }}</a></p>
            </div>
        </div>
    {% empty %}
        <h3 class="empty" style="text-align: center">Участников пока нет</h3>
    {% endfor %}
    <div class="users">
        <h3 class="title_project">Добавить участников</h3>
        <form action="{% url 'project_users' project.pk %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {% for obj in workers %}
                    <li><input type="checkbox" name="users" {% if obj.pk in users %} checked {% endif %} id="users" value="{{ obj.pk }}">
                        <label for="users" class="form-label">{{ obj.get_full_name }}</label>
                    </li>
                {% endfor %}
            </div>
            <div class="submit">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </form>
    </div>
{% endblock %}