{% extends 'base.html' %} {% block content %}
    <div class="form_all">
        <h1 class="title">Редактирование задачи</h1><br/>
        <form action="{% url 'task_update' task.pk %}" method="POST">
            {% include 'partial/projects/project_task_form.html' with is_edit=True %}
        </form>
    </div>
{% endblock %}