{% extends 'base.html' %} {% block content %}
    <div class="form_all">
        <h1 class="title">Новая задача</h1><br/>
        <form action="{% url 'task_create' project.pk %}" method="POST">
            {% include 'partial/projects/project_task_form.html' with is_edit=False %}
        </form>
    </div>
{% endblock %}