{% extends 'accounts/accounts_base.html' %} {% block content %}
<div class="card-form">
    <div class="container">
        <h3>Вход</h3>
        <form action="{% url 'login' %}{% if next %}?next={{ next }}{% endif %}" method="POST">
            {% csrf_token %}
            {% if has_error %}
                <p class="form-error">Неверное имя пользователя или пароль.</p>
            {% endif %}
            <div class="login">
                <input type="text" placeholder="Имя пользователя" id="first_name" name="username" />
            </div>
            <input type="password" placeholder="Password" name="password" />
            <input type="submit" value="Войти" />
            <a href="{% url 'register' %}" class="register">Регистрация</a>
        </form>
    </div>
</div>
{% endblock %}