{% extends 'accounts/accounts_base.html' %} {% block content %}
    <div class="card-form">
        <div class="container">
            <h3>Регистрация</h3>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <input id="username" class="{% if form.username.errors %}is-invalid{% endif %}"
                       type="text" placeholder="Логин" name="username" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}/>
                {% for error in form.username.errors %}
                    <p id="username" class="invalid-feedback">{{ error }}</p>
                {% endfor %}
                <input class="{% if form.first_name.errors %}is-invalid{% endif %}"
                       type="text" placeholder="Имя" id="first_name" name="first_name" {% if form.first_name.value %}value="{{ form.first_name.value }}"{% endif %}/>
                {% for error in form.first_name.errors %}
                    <p id="first_name" class="invalid-feedback">{{ error }}</p>
                {% endfor %}
                <input class="{% if form.last_name.errors %}is-invalid{% endif %}"
                       type="text" placeholder="Фамилия" id="last_name" name="last_name" {% if form.last_name.value %}value="{{ form.last_name.value }}"{% endif %}/>
                {% for error in form.last_name.errors %}
                    <p id="last_name" class="invalid-feedback">{{ error }}</p>
                {% endfor %}
                <input id="email" class="{% if form.email.errors %}is-invalid{% endif %}"
                       type="email" placeholder="Email" name="email" {% if form.email.value %}value="{{ form.email.value }}"{% endif %}/>
                {% for error in form.email.errors %}
                    <p id="email" class="invalid-feedback">{{ error }}</p>
                {% endfor %}
                <input id="password" class="{% if form.password.errors %}is-invalid{% endif %}" type="password" placeholder="Пароль" name="password"/>
                <p id="password" class="invalid-feedback">{{ form.errors }}</p>
                <input id="password_confirm" class="{% if form.password_confirm.errors %}is-invalid{% endif %}" type="password" placeholder="Потвердите пароль" name="password_confirm"/>
                {% for error in form.password_confirm.errors %}
                    <p id="password_confirm" class="invalid-feedback">{{ error }}</p>
                {% endfor %}
                <input type="submit" value="Создать" />
            </form>
        </div>
    </div>
{% endblock %}