{% extends 'accounts/accounts_base.html' %} {% block content %}
    <div class="card-form">
        <div class="container">
            <h3>Смена пароля</h3>
            <form action="{% url 'password_change' user_obj.pk %}" method="POST">
                {% csrf_token %}
                <input type="password" placeholder="Новый пароль" name="password"
                       class="form-control {% if form.password.errors %}is-invalid{% endif %}"/>
                {% for error in form.password.errors %}
                    <p id="title" class="invalid-feedback">{{ error }}</p>
                {% endfor %}
                <input type="password" placeholder="Потвердить пароль" name="password_confirm"
                       class="form-control {% if form.password_confirm.errors %}is-invalid{% endif %}"/>
                {% for error in form.password_confirm.errors %}
                    <p id="title" class="invalid-feedback">{{ error }}</p>
                {% endfor %}
                <input type="password" placeholder="Старый пароль" name="old_password"
                       class="form-control {% if form.old_password.errors %}is-invalid{% endif %}"/>
                {% for error in form.old_password.errors %}
                    <p id="title" class="invalid-feedback">{{ error }}</p>
                {% endfor %}
                <input type="submit" value="Изменить" />
            </form>
        </div>
    </div>
{% endblock %}