{% extends 'base.html' %} {% block content %}
    <h3 class="title_project">Список разработчиков</h3>
    {% for user in users %}
        <div class="card categories">
            <div class="card-body categories-body">
                <p class="name-category"><a href="{% url 'profile' user.pk %}" class="task">{{ user.get_full_name }}</a></p>
            </div>
        </div>
    {% empty %}
        <h3 class="empty" style="text-align: center">Разработчиков пока нет</h3>
    {% endfor %}
{% endblock %}