.container-fluid {
    max-width: 1080px;
}
.container {
    max-width: 1080px;
}
.navbar {
    margin-bottom: 50px;
}
.task {
    color: black;
    text-decoration: none;
}
.title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
footer {
    height: 70px;
}
.form_all {
    width: 50%;
}
.first {
    height: 70px;
}
.submit {
    display: flex;
justify-content: right;
}
.box {
    display: flex;
    justify-content: left;
}
.boxes {
    margin-top: 100px;
    width: 50%;
}
.button_edit {
    display: flex;
justify-content: space-between;
margin-top: 50px;
}
.pagination {
    text-align: center;
    margin-top: 50px;
    justify-content: center;
}

.pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px #6a7ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.pagination a {
    background: #6a7ddd;
    color: white;
    text-decoration: none;
}

.pagination a:hover {
    background: #6a7dff;
    text-decoration: underline;
}

.pagination .page-disabled {
    background: #6a7dcc;
    color: #dddddd
}

.pagination .current-page {
    display: inline-block;
}

.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}
.navbar-collapse {
    justify-content: inherit;
}
.categories-body {
    display: flex;
    justify-content: space-between;
}
.categories {
    width: 80%;
    margin-bottom: 10px;
}
.name-category {
    font-size: 20px;
    color: black;
}
.navbar-collapse {
    justify-content: space-between;
}
.empty {
    margin-top: 50px;
}
.title_project {
    margin-bottom: 30px;
}
.users {
    margin-top: 50px;
    width: 40%;
}
.project_title {
    text-align: center;
    margin-bottom: 30px;
}
.avatar {
    display: inline-block;
    float: left;
    width: 200px;
    height: 180px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.clear {
    clear: both;
}
.user_projects {
    margin-top: 40px;
}
.button_update {
    margin-top: 80px;
}
.text_me {
    width: 70%;
}