<div class="mb-3">
    <label  for="github_link" class="form-label">Github ссылка</label>
    <input type="text" name="github_link" id="github_link"
           class="form-control {% if profile_form.github_link.errors %}is-invalid{% endif %}"
           placeholder="Введите ссылку" value="{{ profile_form.github_link.value| default:'' }}">
    {% for error in profile_form.github_link.errors %}
        <p id="title" class="invalid-feedback">{{ error }}</p>
    {% endfor %}
</div>
<div class="mb-3">
    <label  for="user_description" class="form-label">О себе</label>
    <textarea name="user_description" id="user_description"
           class="form-control {% if profile_form.user_description.errors %}is-invalid{% endif %}">{{ profile_form.user_description.value| default:'' }}</textarea>
    {% for error in profile_form.user_description.errors %}
        <p id="title" class="invalid-feedback">{{ error }}</p>
    {% endfor %}
</div>
<div class="form-group" style="display: flex; justify-content: space-between; padding: 5px">
    <label for="avatar" class="form-label">Фото</label>
    {% if profile_form.avatar.value.url %}
        <img src="{{ profile_form.avatar.value.url }}" alt="" style="width: 20%">
    {% endif %}
    <input type="file" name='avatar' id="avatar" value="{{ profile_form.avatar.value|default:'' }}">
</div>