<div class="mb-3">
    <label  for="first_name" class="form-label">Имя</label>
    <input type="text" name="first_name" id="first_name"
           class="form-control {% if form.first_name.errors %}is-invalid{% endif %}"
           placeholder="Введите имя" value="{{ form.first_name.value| default:'' }}">
    {% for error in form.first_name.errors %}
        <p id="title" class="invalid-feedback">{{ error }}</p>
    {% endfor %}
</div>
<div class="mb-3">
    <label  for="last_name" class="form-label">Фамилия</label>
    <input type="text" name="last_name" id="last_name"
           class="form-control {% if form.last_name.errors %}is-invalid{% endif %}"
           placeholder="Введите фамилию" value="{{ form.last_name.value| default:'' }}">
    {% for error in form.last_name.errors %}
        <p id="title" class="invalid-feedback">{{ error }}</p>
    {% endfor %}
</div>
<div class="mb-3">
    <label  for="email" class="form-label">Email</label>
    <input type="email" name="email" id="email"
           class="form-control {% if form.email.errors %}is-invalid{% endif %}"
           placeholder="Введите email" value="{{ form.email.value| default:'' }}">
    {% for error in form.email.errors %}
        <p id="title" class="invalid-feedback">{{ error }}</p>
    {% endfor %}
</div>
