<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Удаление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить обьект ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <form action="{% if deleted_object == project %} {% url 'project_delete' deleted_object.pk %} {% else %} {% url 'delete' deleted_object.pk %} {% endif %} " method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Потвердить</button>
                </form>
            </div>
        </div>
    </div>
</div>
