<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'projects' %}">Главная</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {%  if perms.webapp.add_projects %}
                    <li class="nav-item">
                        <a
                                class="nav-link active"
                                aria-current="page"
                                href="{% url 'create_project' %}"
                        >Создать проект</a
                        >
                    </li>
                {% endif %}
                {%  if perms.auth.view_user %}
                    <li class="nav-item">
                        <a
                                class="nav-link active"
                                aria-current="page"
                                href="{% url 'users' %}"
                        >Разработчики</a
                        >
                    </li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a
                                class="nav-link active"
                                aria-current="page"
                                href="{% url 'login' %}"
                        >Войти</a
                        >
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a
                                class="nav-link active"
                                aria-current="page"
                                href="{% url 'profile' request.user.pk %}"
                        >Привет, {{ user.get_full_name }}</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                                class="nav-link active"
                                aria-current="page"
                                href="{% url 'logout' %}"
                        >Выйти</a
                        >
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex" method="get">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" name="search" value="{{ form.search.value|default:'' }}">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</nav>