{% csrf_token %}
<div class="mb-3">
    <label  for="name" class="form-label">Имя</label>
    <input type="text" name="name" id="name"
           class="form-control {% if form.name.errors %}is-invalid{% endif %}"
           placeholder="Введите название" value="{{ form.name.value| default:'' }}">
    {% for error in form.name.errors %}
        <p id="title" class="invalid-feedback">{{ error }}</p>
    {% endfor %}
</div>
<div class="mb-3">
    <label  for="description" class="form-label">Описание</label>
    <textarea name="description" id="description"
              class="form-control first {% if form.description.errors %}is-invalid{% endif %}"
              placeholder="Введите описание">{{ form.description.value|default:'' }}</textarea>
    {% for error in form.description.errors %}
        <p id="description" class="invalid-feedback">{{ error }}</p>
    {% endfor %}
</div>
<div class="mb-3">
    <label  for="start_date" class="form-label">Дата начало</label>
    <input type="date" name="start_date" id="start_date"
           class="form-control {% if form.start_date.errors %}is-invalid{% endif %}"
           placeholder="Введите название" value="{{ form.start_date.value|date:'Y-m-d'| default:'' }}">
    {% for error in form.start_date.errors %}
        <p id="title" class="invalid-feedback">{{ error }}</p>
    {% endfor %}
</div>
<div class="mb-3">
    <label  for="end_date" class="form-label">Дата окончания</label>
    <input type="date" name="end_date" id="end_date"
           class="form-control {% if form.end_date.errors %}is-invalid{% endif %}"
           placeholder="Введите название" value="{{ form.end_date.value|date:'Y-m-d' | default:'' }}">
    {% for error in form.end_date.errors %}
        <p id="title" class="invalid-feedback">{{ error }}</p>
    {% endfor %}
</div>
<div class="submit">
    <button type="submit" class="btn btn-danger">{% if is_edit %} Изменить {% else %} Создать {% endif %}</button>
</div>