{% csrf_token %}
<div class="mb-3">
    <label  for="title" class="form-label">Заголовок</label>
    <input type="text" name="summary" id="title"
           class="form-control {% if form.summary.errors %}is-invalid{% endif %}"
           placeholder="Введите название" value="{{ form.summary.value| default:'' }}">
    {% for error in form.summary.errors %}
        <p id="title" class="invalid-feedback">{{ error }}</p>
    {% endfor %}
</div>
<div class="mb-3">
    <label  for="description" class="form-label">Описание</label>
    <textarea name="description" id="description"
              class="form-control first {% if form.description.errors %}is-invalid{% endif %}"
              placeholder="Введите описание">{{ form.description.value|default:'' }}</textarea>
    {% for error in form.description.errors %}
        <p id="description" class="invalid-feedback">{{ error }}</p>
    {% endfor %}
</div>
<div class="mb-3">
    <label for="status" class="form-label">Статус</label>
    <select name="status" id="status" class="form-control">
        {% for obj in form.status.field.queryset %}
            {% if obj.pk == form.status.value %}
                <option selected value="{{ obj.pk }}">{{ obj.name }}</option>
            {% else %}
                <option value="{{ obj.pk }}">{{ obj.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
{% if is_edit %}
<div class="mb-3">
    <label for="project" class="form-label">Проект</label>
    <select name="project" id="project" class="form-control">
        {% for obj in form.project.field.queryset %}
            {% if obj.pk == form.project.value %}
                <option selected value="{{ obj.pk }}">{{ obj.name }}</option>
            {% else %}
                <option value="{{ obj.pk }}">{{ obj.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
{% endif %}
<div class="mb-3">
    <label for="types" class="form-label">Тип</label>
    <ul>
        {% for type in form.types.field.queryset %}
            <li><input type="checkbox" name="types" {% if type.pk in form.types.value %} checked {% endif %} id="types" value="{{ type.pk }}">
                <label for="types" class="form-label">{{ type.name }}</label>
            </li>
        {% endfor %}
    </ul>
    <p id="types" class="invalid-feedback">{{ form.types.errors }}</p>
</div>
<div class="submit">
    <button type="submit" class="btn btn-danger">{% if is_edit %} Изменить {% else %} Создать {% endif %}</button>
</div>