{% extends 'base.html' %} {% block content %}
    <div class="boxes">
        <div class="box">
            <p class="col-3">Зоголовок:</p>
            <p class="col-9">{{ task.summary }}</p>
        </div>
        <div class="box">
            <p class="col-3">Описание:</p>
            <p class="col-9">{{ task.description }}</p>
        </div>
        <div class="box">
            <p class="col-3">Статус:</p>
            <p class="col-9">{{ task.status }}</p>
        </div>
        <div class="box">
            <p class="col-3">Проект:</p>
            <p class="col-9">{{ task.project }}</p>
        </div>
        <div class="box">
            <p class="col-3">Тип:</p>
            {% for types in task.types.all %}
                {{ types }}
            {% endfor %}
        </div>
        <div class="box">
            <p class="col-3">Время создания:</p>
            <p class="col-9">{{ task.created_at| date:'Y-m-d' }}</p>
        </div>
        <div class="box">
            <p class="col-3">Последнее изменение:</p>
            <p class="col-9">{{ task.updated_at| date:'Y-m-d' }}</p>
        </div>
        <div class="button_edit">
            {% if perms.webapp.delete_tasks and user in project.users.all %}
                <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger">Удалить</button>
            {% endif %}
            {% if perms.webapp.change_tasks and user in project.users.all %}
                <a class="btn btn-primary" href="{% url 'task_update' task.pk %}" role="button">Изменить</a>
            {% endif %}
        </div>
    </div>
    {% include 'common/delete_modal.html' with deleted_object=task %}
{% endblock %}