{% extends 'base.html' %} {% block content %}
    <h1 class="title">Задачи</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Исполнитель</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Статус</th>
            <th scope="col">Проект</th>
            <th scope="col">Дата создания</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{% url 'profile' request.user.pk %}" class="task">{{ task.user.get_full_name }}</a></td>
                <td><a href="{% url 'task_page' task.pk %}" class="task">{{ task.summary }}</a></td>
                <td>{{ task.status }}</td>
                <td>{{ task.project }}</td>
                <td>{{ task.created_at| date:'Y-m-d'}}</td>
            </tr>
        {% empty %}
        <h3 style="text-align: center">Задачи не найдены</h3>
        {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        {% include 'partial/tasks/pagination.html' %}
    {% endif %}
{% endblock %}